<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Enter by room code">
    <div class="tabContainer">
      <label>
        Room Code:
        <input [(ngModel)]="roomCode">
      </label>
      <br><br>
      <input type="color" [(ngModel)]="color">
      <br><br>
      <button mat-raised-button color="primary" [disabled]="roomCode === ''" (click)="submitCode()">Submit</button>
      <p *ngIf="error">Room Code not valid</p>
    </div>
  </mat-tab>
  <mat-tab label="Create room">
    <div class="tabContainer">
      <label>
        Players:
        <input type="number" min="1" max="10" value="2" [(ngModel)]="players">
      </label>
      <br><br>
      <label>
        Snake speed:
        <input type="number" min="1" max="10" value="2" [(ngModel)]="snakeSpeed">
      </label>
      <br><br>
      <input type="color" [(ngModel)]="color">
      <br><br>
    </div>
    <div class="tabContainer">
      <button mat-raised-button color="primary" (click)="createRoom()">Create Room</button>
    </div>
  </mat-tab>
</mat-tab-group>
